<h3>{{Titulo}} <small>{{TituloAccionABMC[AccionABMC]}}</small></h3>

<div class="container">

	<div *ngIf="AccionABMC == 'L'">

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center">Id de servicio</th>
					<th class="text-center">Descripción</th>
					<th class="text-center">Importe</th>
					<th class="text-center">Cantidad de horas</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let servicio of Servi">
					<td>{{servicio.idservicio}}</td>
					<td>{{servicio.descripcion | uppercase}}</td>
					<td>{{servicio.importe}}</td>
					<td>{{servicio.cantidadhoras}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<button type="button" *ngIf="AccionABMC=='L'" (click)="Agregar()"
  class="btn btn-outline-info"><span class="fas fa-plus"> </span>
  Nuevo servicio
  </button>


	<div *ngIf="AccionABMC=='A'">

		<form name="formAlta" [formGroup]="formAlta">
			<!-- para campo descripcion -->
			<div class="form-group row">
				<label class="col-form-label col-sm-2 col-sm-offset-2" for="Descripcion">Descripción <span
                    class="text-danger">*</span></label>
				<div class="col-sm-6">
					<input type="text" class="form-control" formControlName="Descripcion"
         [ngClass]="{'is-invalid': (FormReg.controls.Nombre.touched || submitted)  
            && FormReg.controls.Descripcion.errors}" />

					<span class="text-danger" *ngIf="(FormReg.controls.Descripcion.touched || submitted) 
                        && FormReg.controls.Descripcion.errors?.required">
                    Dato requerido.
                </span>
					<span class="text-danger" *ngIf="(FormReg.controls.Descripcion.touched || submitted) 
                       && (FormReg.controls.Descripcion.errors?.minlength || FormReg.controls.Descripcion.errors?.maxlength) ">
                    Dato texto, 4 a 55 caracteres.
                </span>

				</div>
			</div>
			<!-- para campo importe -->
			<div class="form-group row">
				<label class="col-form-label col-sm-2 col-sm-offset-2" for="Importe">importe <span
                    class="text-danger">*</span></label>
				<div class="col-sm-6">
					<input type="text" class="form-control" formControlName="Importe"
         [ngClass]="{'is-invalid': (FormReg.controls.Nombre.touched || submitted)  
            && FormReg.controls.Importe.errors}" />

					<span class="text-danger" *ngIf="(FormReg.controls.Importe.touched || submitted) 
                        && FormReg.controls.Importe.errors?.required">
                    Dato requerido.
                </span>
					<span class="text-danger" *ngIf="(FormReg.controls.Importe.touched || submitted) 
                       && (FormReg.controls.Importe.errors?.minlength || FormReg.controls.Importe.errors?.maxlength) ">
                    Dato texto, 4 a 55 caracteres.
                </span>

				</div>
			</div>
			<!-- para campo CantidadHoras -->
			<div class="form-group row">
				<label class="col-form-label col-sm-2 col-sm-offset-2" for="Cantidadhoras">Cantidad horas <span
                    class="text-danger">*</span></label>
				<div class="col-sm-6">
					<input type="text" class="form-control" formControlName="Cantidadhoras"
         [ngClass]="{'is-invalid': (FormReg.controls.Cantidadhoras.touched || submitted)  
            && FormReg.controls.Cantidadhoras.errors}" />

					<span class="text-danger" *ngIf="(FormReg.controls.Cantidadhoras.touched || submitted) 
                        && FormReg.controls.Cantidadhoras.errors?.required">
                    Dato requerido.
                </span>
					<span class="text-danger" *ngIf="(FormReg.controls.Cantidadhoras.touched || submitted) 
                       && (FormReg.controls.Cantidadhoras.errors?.minlength || FormReg.controls.Cantidadhoras.errors?.maxlength) ">
                    Dato texto, 4 a 55 caracteres.
                </span>

				</div>
			</div>

		</form>
		<div class="row">
			<div class="col-sm-2">
				<button type="button" class="btn btn-outline-success" (click)="Grabar()"><span class="fas fa-plus"> </span>Grabar</button>
			</div>
			<div class="col-sm-2">
				<button type="button" class="btn btn-outline-danger" (click)="Cancelar()">Cancelar</button>
			</div>
		</div>
	</div>
</div>